body {
  box-sizing: border-box;
  margin: 0;
}

html {
  background: #ea973f;
  color: #FFFFFF;
}

header {
  padding: 20px;
  text-align: left;
  background-color: #241115;
  margin-bottom: 30px;
}


.dropdown {
  height: 35px;
  width: 300px;
  padding: 5px;
  margin: 10px;
  margin-top: 15px;
  border: 1px solid #918f8f;
  border-radius: 2px;
}


p {
  font-weight: 600;
}


.logo {
  display: inline-block;
  width: 100%;
  height: 75px;
  z-index: 5;
}


h1 {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 110px;
  margin-bottom: 50px;
}

#description {
 text-align: center;
}

.container {
  width: 400px;
  height: 100%;
  margin: 0 auto;
}

.flex-item {
  width: 50%;
  text-align: center;
}


.inputboxes label {
  display: block;
  padding-bottom: 5px;
}


.labels {
  text-align: left;
  width: 40%;
  padding: 5px;
  margin-top: 10px;
}

.input-field {
  height: 20px;
  width: 280px;
  padding: 5px;
  margin: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}

#comments {

  height: 50px;
  width:300px;
}

.radio-button {
  position: relative;
  margin-left: 10px;
  display: block;
  padding-bottom: 10px;
}


.checkbox {
  position: relative;
  margin-left: 10px;
  display: block;
  padding-bottom: 10px;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  background: #000000;
  color: white;
  text-transform: uppercase;
  margin-top: 20px;
  border-radius: 20px;
}

section {

  padding: 10px;
}
